.cont-projects{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: min-content;
  height: min-content;
  display: block;
  margin: auto;
  }

.grid-proyects{
  display: grid;
  width: 100%;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(61, 59, 59);
  border-bottom: 2px solid rgb(205, 234, 38);;
  border-top: 2px solid rgb(205, 234, 38);;
  border-radius: 7px 7px 10px 10px;
  padding: 60px;
}

.cont-map-pro{
  width: 400px;
  margin-top: 20px;
  margin: 50px;
}

.img-proyecto{
  display: block;
  margin: auto;
  width: 350px;
  border-radius: 7px 7px 10px 10px;
  object-fit: contain;
  
}


.cont-info-pro{
  height: max-content;
  background-color: rgb(17, 17, 17);
  border-radius: 0px 0px 12px 12px;
  opacity: 1;
}

.name-pro{
  color:rgb(205, 234, 38);
}


  .cont-repos{
    background-color: rgb(205, 234, 38);
    
  }

.img-proyect{
    padding: 10px;
}

.title-proyects{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: bold;
    color: rgb(8, 8, 8);
    text-decoration: underline;
}

.name-pro{
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;

}

.capa{
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  height: 100%;
  width: 100%;
  background: rgba(22,22,3, 0.9);
  position: absolute;
  top: 0;
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  margin-right: 12px;
}

.capa span{
  margin-left: 20px;
  margin-right: 20px;
  letter-spacing: 3px;
}

.capa-info{
  margin-top: 30px;
  color: rgb(205, 234, 38);
}





@media (max-width: 820px){
  .cont-projects{
    width: 90%;
  }
  .grid-proyects{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .cont-map-pro{
    margin-right: 0px;
    margin-left: 300px;
    width: 200px;
  }
  .swiper{
    width: 430px;
    height: 350px;
  }
  .capa{
    overflow: scroll;
  }
  .capa span{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
  }
}

@media (max-width: 420px){
  .cont-projects{
    width: min-content;
  }
  .grid-proyects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .cont-map-pro{
    margin-right: 0px;
    margin-left: 0px;
    width: 200px;
  }
  .cont-info-pro{
    padding: 10px;
    height: max-content;
    width: 100%;
    background-color: rgb(17, 17, 17);
    border-radius: 0px 0px 12px 12px;
    opacity: 1;
    font-size: 20px;
  }
  .img-proyecto{
    display: block;
    margin: auto;
    background-color: red;
    width: 300px;
    border-radius: 7px 7px 10px 10px;
    object-fit: contain;
    
  }
  .swiper {
    background-color: rgb(205, 234, 38);
    width: 330px;
    height: 250px;
    margin-top: 19px;
  }
  .capa{
    overflow: scroll;
  }
  .capa span{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
  }
}