


.cont-tecnologias{
    height: 970px;

}

.title-tec{
    padding-top: 60px;
    
}

.tec-name{
    color: rgb(205, 234, 38);
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-top: 90px;
}

.cont-imgs{
    height: 550px;
    width: 550px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    border-radius: 30px;
    
}


.box-img{
    background-color: rgb(205, 234, 38);
    margin: 20px;
    padding: 10px;
    border-radius: 40px;
}

.img-tec{
    width: 85px;
    height: 73px;
}

@media (max-width: 420px){
    .cont-imgs{
        height: 400px;
        width: 400px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        border-radius: 30px;
        
    }
    .img-tec{
        width: 75px;
        height: 63px;
    }
  }